html {
	box-sizing: border-box;
}
.row {
	margin-right: 0;
}
#perfil-row {
	background-color: #3363B7;
	padding: 1% 0;
	color: white;
	text-align: right;
	margin-right: 0;
}
header #row-especial {

}
#perfil-row a {
	color: white;
}
#logo-ucr {
	display: block;
	padding: 1% 0;
}
#perfil-nav {
	background-color: #B4C7E8;
	padding: 1% 0;
	margin-right: 0;
}
footer {
	background-color: black;
	color: white;
	padding: 0.5%;
}
main {
	padding: 3% 0;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
       url('../fonts/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
       url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

p {
	font-family:'MyriadPro-Bold', sans-serif;
	font-size:25px;
}
