.separador-vertical {
	width: 1px;
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	margin: 10px 0;
	color: #E1DFF6
}
.separador-horizontal {
	width: 100%;
	height: 1px;
	background-color: #02BBED;
	border-radius: 5px;
}
.row {
	margin-right: 0;
}
#perfil-row {
	background-color: #3363B7;
	padding: 0.3% 0;
	color: white;
	text-align: right;
	margin-right: 0;
}
header #row-especial {

}
.boton-perfil {
	background-color: transparent;
}
#logo-ucr {
	display: block;
	padding: 1% 0;
}
#perfil-nav {
	background-color: #B4C7E8;
	margin-right: 0;
}
#perfil-nav .dropdown-toggle , #perfil-nav a{
	color: #08359B;
}
#perfil-nav a:hover {
	background-color: transparent;
	color: white;
}
#perfil-nav ul a:hover {
	background-color: #3363B7;
}
main {
	padding: 1% 0;
}
table thead {
	background-color: #0B74BC;
	color: white;
}
table thead th {
	text-align: center;
}
.master #tabla-planillas {

}
#contenedor-tabla {
	margin-bottom: 0;
	padding-bottom: 2%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.master .contenedor-tabla-fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0;
}
main #contenedor-tabla .contenedor-tabla-0 {
	height: 33vh;
	border: 1px solid #B4C7E8;
}
main #contenedor-tabla .contenedor-tabla-1 {
	height: 100%;

}
main #contenedor-tabla .contenedor-tabla-2 {
	padding-bottom: 0.5%;
	padding-top: 2%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
}
#contenedor-tabla .clearfix a{
	margin-top: 27px;
	background-color: #008641;
	border-color: transparent;
	bottom:0;
}
#contenedor-tabla .clearfix a:hover {
	background-color: #006E35;
}
.btn-revision {
	margin-right: 1%;
	background-color: #680000;
	border:#680000 1px solid;
}
.btn-margin-left {
	margin-left: 2%!important;
}

.btn-minus{
	background-color: #680000;
	color: white;
}
table .tr_style:hover {
	background-color: #CCD6F7!important;
}
table .th_style:hover{
	background-color: #005A98;
}
table .a_click:hover{
	cursor: pointer;
}
#contenedor-tabla .clearfix .btn-revision:hover {
	background-color: #4F0000;
}
.container-aside {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.aside {
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
	padding-top: 2%;
	padding-bottom: 1%;
}
.aside .table {
	height: 200px;
}
footer {
	color: white;
}
footer a {
	color: white;
}
footer .row1 {
	background-color: #3363B7;
	margin-right: -15px;
}
footer .row2 {
	background-color: #666666;
	padding-right: 0.5%;
	margin-right: -15px;
	box-sizing: border-box;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
       url('../fonts/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
       url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

p {
	font-family:'MyriadPro-Bold', sans-serif;
}


/* **************** Estilos de index *************/

.index #perfil-nav {
	background-color: #E9F1F9;
	margin-right: 0;
	padding:1% 0;
}
.index .contenedor-log {

	padding: 2%;
	padding-bottom: 6vh;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}
.index .contenedor-log .row-formulario {

}
.index main .fondo-log {
	padding-top: 11vh;
	padding-bottom: 11vh;
	background-image: url("../img/circulos.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 37vh 35vh;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}
.index .separador {
	width: 100px;
	height: 2px;
	background-color: #4394CA;
	margin-bottom: 40px;
}
.index .separador-absolute {
	position: absolute;
}
.index .contenedor-log h3 {
	color: #4394CA;
}
.index .contenedor-log label {
	color: #8FB3C5;
}
.index .contenedor-log input {
	padding-left:  20px;
}
.index .contenedor-log form button {
	background-color: #2172B0;
	color: white;
}
.index .modal-footer button {
	background-color: #005DA4;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  background-color: #f5f5f5;
	background-size: 47vh 35vh;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}
/****************Fixed table header *********/


/************* Menus desplegables *************/
.boton-menu {
	border: 1px solid black;
}
.navbar {
	margin-bottom: 0;
	color: #08359B;
}

/************* Modales *************/
.modal-title {
	color: #64cdf6;
	text-align: center;
}

.modal-delete-border {
	border-top: 0px;
	border-bottom: 0px;
}

.input-border {
	border: 0px;
  border-bottom: 2px solid #5fc3ea;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
}

.espacio-boton {
	padding-bottom:15px;
	padding-top:15px;
}

/************* Texto intermitente *************/
.texto-efectos1 {
	 color: #00F;
	 animation-name: texto-intermitente;
	 animation-duration: 1500ms;
	 animation-timing-function: cubic-bezier(1, 0, 0, 0);
	 animation-iteration-count: infinite;
}


@keyframes texto-intermitente {
	0% {opacity:1.0}
	70% {opacity:0.0}
	100%{opacity:1.0}
}
.texto-efectos2 {
	 color: #00F;
	 font-size: 14px;
	 }

/********************Input********************/

.inputColor{
	color: #005da4;
}

.input-readonly {
	width: 90%;
	border: 0px;
	font-weight: bold;
	cursor: default;
}

/**********Opciones desabilitadas***********/

.desabilitado_a{
	color: grey!important;
	background-color: none;
	border: none;
}

.desabilitado_li{
	color: grey!important;
	background-color: none;
	border: none;
}

.desabilitado_a:hover{
	color: grey!important;
	background-color: transparent!important;
	border: transparent!important;
}

.desabilitado_li:hover{
	color: grey!important;
	background-color: transparent!important;
	border: transparent!important;
}

.texto_cambiar:hover{
	cursor: pointer!important;
}

/**********Ocultar botones de modal***********/
.ocultar_botones {
	display: none;
}

/*******Datatable evitar orden columna*******/
.no-sort::after {
	display: none!important;
}

.no-sort {
	pointer-events: none!important;
	cursor: default!important;
	background-image:none !important;
}
/*********** sub menu ***************/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}